.grid {
  width: 50%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.cell {
  height: 15px;
  width: 15px;
  border-style: solid;
  border-width: thin;
  border-color: #282c34;
}

.dead {
  background-color: #a3a3a3
}

.sad {
  background-color: #5daaff
}

.happy {
  background-color: #2cb48a
}