.App {
  text-align: center;
}

.grid {
  width: 50%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.cell {
  height: 15px;
  width: 15px;
  border-style: solid;
  border-width: thin;
  border-color: #282c34;

}

.cell-dead {
  background-color: #a3a3a3
}

.cell-sad {
  background-color: #5daaff
}

.cell-happy {
  background-color: #2cb48a
}

.App-display {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
